<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  ~
  -->
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
          http://xmlns.jcp.org/xml/ns/javaee
		  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/components/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Tribestream API Registry</realm-name>
  </login-config>

  <security-constraint> <!-- note that we could use shiro to have a better control over permissions but good enough for now -->
    <auth-constraint>
      <role-name>**</role-name>
      <description>We just need an authenticated user</description>
    </auth-constraint>
    <web-resource-collection>
      <web-resource-name>Application Endpoint</web-resource-name>
      <url-pattern>/api/application/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Registry (deprecated)</web-resource-name>
      <url-pattern>/api/registry/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Search</web-resource-name>
      <url-pattern>/api/search/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Search</web-resource-name>
      <url-pattern>/api/history/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Search</web-resource-name>
      <url-pattern>/api/server/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Search</web-resource-name>
      <url-pattern>/api/ui/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Search</web-resource-name>
      <url-pattern>/api/health</url-pattern>
    </web-resource-collection>
  </security-constraint>
</web-app>
