// using this one during dev is fine
tribe-realm {
      com.tomitribe.security.jaas.TomcatUsersLoginModule OPTIONAL
          debug="false"
          digest="SHA";
};


// the following config is not used by tribestream, but is included as an example

tribe-realm-tomcat-only {
  // com.tomitribe.security.jaas.TomcatUsersLoginModule OPTIONAL
  //      debug="false"
  //      digest="SHA";
};
