@import "variables"

div[data-app-endpoints-details]
  p
    margin: 0
  div[x-ng-click]
    &:hover
      cursor: pointer

div[data-app-endpoints-details]
  > div
    overflow: auto
    > div.header
      border-bottom: solid #efefef 1px
      padding: 20px
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: space-between
      div.breadcrumb
        > *
          margin: 0 10px 0 0
          color: #c1c2c4
        > i.fa-home, > span, > a
          font-size: 12px
        > i.fa-chevron-right
          font-size: 10px
        > a > i.fa-home, > a
          color: $tomitribe-orange
        > span, > a
          font-weight: 700 !important
          white-space: nowrap
        > a
          text-decoration: none
          &:hover
            text-decoration: underline

      div.buttons
        display: flex
        > div
          display: flex
          align-items: center
          margin-left: 20px
          background-color: #f0f0f0
          padding: 5px 15px
          $color: #464748
          border: solid $color 1px
          border-radius: 3px
          > *, > a > span, > div .trigger > *
            color: $color
            text-decoration: none
          > span, > a, > div .trigger > span, > div .trigger >  a
            font-weight: 700
          > i, > div .trigger > i
            margin-right: 5px
            font-size: 13px
          &:hover
            cursor: pointer

    // body
    > div:last-of-type
      // body wrapper -> non-footer
      > div:first-of-type
        display: flex
        > div
          flex-shrink: 0
          border-right: solid #efefef 1px
        > article
          flex-grow: 1
          background-color: $app-white
          min-width: 500px
          padding: 0 40px

@import "app_endpoints_details_header"
@import "app_endpoints_details_toc"
@import "app_endpoints_details_toc_item"
@import "app_endpoints_details_parameters"
@import "app_endpoints_details_resource_information"
@import "app_endpoints_details_response_request"
@import "app_endpoints_details_see"