@import "variables"

i[data-tribe-checkbox]
  > div
    $size: 20px
    height: $size
    width: $size
    border: solid black 1px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
