div
  h2(app-endpoints-details-toc-anchor="Resource Information") Resource Information
  div
    div
      div(data-submenu="true", app-endpoints-details-toc-anchor="API Versions")
        span API Versions
        i(data-tribe-multiselect, data-selected-options="endpoint.metadata.apiVersions")
      div(data-submenu="true", app-endpoints-details-toc-anchor="Service status")
        span Service status
        i(data-tribe-multiselect, data-available-options="statusOptions", data-selected-options="status", data-single-select="true")
    div
      div(data-submenu="true", app-endpoints-details-toc-anchor="Request formats")
        span Request formats
        i(data-tribe-multiselect, data-available-options="requestFormatsOptions", data-selected-options="endpoint.mime.consumes")
      div(data-submenu="true", app-endpoints-details-toc-anchor="Response formats")
        span Response formats
        i(data-tribe-multiselect, data-available-options="responseFormatsOptions", data-selected-options="endpoint.mime.produces")
    div
      div.auth-method(data-submenu="true", app-endpoints-details-toc-anchor="Authentication method")
        span Authentication method
        i(data-tribe-multiselect, data-selected-options="authMethod", data-single-select="true")
      div(data-submenu="true", app-endpoints-details-toc-anchor="Roles")
        span Roles
        i(data-tribe-multiselect, data-selected-options="endpoint.roles")
    div
      div(data-submenu="true", app-endpoints-details-toc-anchor="Categories")
        span Categories
        i(data-tribe-multiselect, data-selected-options="endpoint.metadata.categories")
      div(data-submenu="true", app-endpoints-details-toc-anchor="Tags")
        span Tags
        i(data-tribe-multiselect, data-selected-options="endpoint.metadata.tags")
    div
      .app-rates(data-submenu="true", app-endpoints-details-toc-anchor="Application rates")
        div
          span Application rates
          div(x-ng-click="addAppRate()", x-ng-if="!endpoint.throttlings.application", tabindex=0)
            i.fa.fa-plus
        div(x-ng-if="endpoint.throttlings.application").values
          i(data-tribe-editable-number, data-value="endpoint.throttlings.application.rateLimit")
          span requests /
          i(data-tribe-editable-number, data-value="endpoint.throttlings.application.rateWindow")
          i(data-tribe-editable-option, data-value="endpoint.throttlings.application.rateUnit", data-options="rateUnits")
          div
            i(data-tribe-editable-number, data-value="endpoint.throttlings.application.concurrentLimit")
            span concurrent requests
          div(x-ng-click="removeAppRate()")
            i.fa.fa-trash
    div
      .user-rates(data-submenu="true", app-endpoints-details-toc-anchor="User rates")
        div
          span User rates
          div(x-ng-click="addUserRate()", tabindex=0)
            i.fa.fa-plus
        .rates(x-ng-repeat="rl in endpoint.throttlings.user")
          i(data-tribe-editable-text, data-value="rl.user")
          i(data-tribe-editable-number, data-value="rl.rateLimit")
          span requests /
          i(data-tribe-editable-number, data-value="rl.rateWindow")
          i(data-tribe-editable-option, data-value="rl.rateUnit", data-options="rateUnits")
          div
            i(data-tribe-editable-number, data-value="rl.concurrentLimit")
            span concurrent requests
          div(x-ng-click="removeUserRate(rl)")
            i.fa.fa-trash
