div
  .header(set-class-on-scroll)
    .breadcrumb
      a(href=".")
        i.fa.fa-home
      i.fa.fa-chevron-right
      a(x-ng-href="application/{{application.humanReadableName}}") {{application.swagger.info.title}} {{application.swagger.info.version}}
      i.fa.fa-chevron-right
      span(x-ng-if="historyItem") Revision {{historyItem.revisionId}} by {{historyItem.username}} created on {{historyItem.timestamp | date:'medium'}}
    .buttons
      .save(x-ng-disabled="isOnEdit || !endpoint.httpMethod || !endpoint.path || !endpoint.path.trim()",
               x-ng-click="isOnEdit || !endpoint.httpMethod || !endpoint.path || !endpoint.path.trim() || save()")
        i.fa.fa-floppy-o
        span Save
      .history(x-ng-if="historyLink")
        i.fa.fa-history
        span Show History
      .delete(data-tribe-confirm-btn, data-callback="delete", data-icon="trash", data-message="Are you sure you want to delete this endpoint?", x-ng-if="endpointLink", data-label="Delete Endpoint")
  div
    div
      article.app-ep-details-body
        div(data-app-endpoints-details-header)
        div(data-app-endpoints-details-resource-information)
        div(data-app-endpoints-details-parameters)
        div(data-app-endpoints-details-response-request)
        div(data-app-endpoints-details-history)
    div(data-app-footer)
