div
  div
    div
      a(href=".")
        i.fa.fa-home
      i.fa.fa-chevron-right
      a(x-ng-href="application/{{applicationName}}?version={{swagger.info.version}}") {{swagger.info.title}} {{swagger.info.version}}
    article
      div
        h1
          div(data-tribe-text, data-value="swagger.info.title")
        div(data-tribe-markdown, data-value="swagger.info.description")
        .see(x-ng-if="details.sees.length")
          span See:
          div
            p(x-ng-repeat="see in details.sees | orderBy:['seeOrder', 'title']")
              a(x-ng-if="see.href",  x-ng-href="{{see.href}}", x-ng-bind-html="(see.title | tribeHtml) || (see.href | tribeHtml)")
              a(x-ng-if="!see.href", x-ng-href="see/{{ see.aggregatedId }}", x-ng-bind-html="(see.title | tribeHtml) || (see.href | tribeHtml)")
      div
        h2 Resource Information
        div
          h3 Endpoints
          ul.endpoint-info
            li(x-ng-repeat="endpoint in endpoints")
              a(x-ng-href="endpoint/{{applicationName}}/{{endpoint.operation}}/{{endpoint.humanReadablePath}}?version={{swagger.info.version}}")
                span {{endpoint.operation | pathencode}}
                span {{endpoint.path | pathencode}}
                span {{endpoint.summary}}
  div(data-app-footer)
