div
  div
    a(href=".")
      i.fa.fa-home
    i.fa.fa-chevron-right
    a(x-ng-href="application/{{app}}") {{app}}
    i.fa.fa-chevron-right
    span {{method}} {{endpoint.uri.path}}
    .actions
      i(data-tribe-editable-option, data-empty-text="Actions", data-value="action", data-options="['Copy...', 'Release...', 'Export...', 'Share link...']")
  div
    div
      article.app-ep-details-body
        div(data-app-endpoints-details-header, data-application="app", data-method="method", data-path="path", data-endpoint="endpoint")
        div(data-app-endpoints-details-resource-information, data-endpoint="endpoint")
        div(data-app-endpoints-details-parameters, data-endpoint="endpoint")
        div(data-app-endpoints-details-response-request, data-endpoint="endpoint")
    div(data-app-footer)
