div
  .expected
    h2 Expected values
      div(x-ng-click="addExpectedValue();")
        i.fa.fa-plus
    table(x-ng-if="endpoint.expectedValues && endpoint.expectedValues.length")
      thead
        tr
          th Attribute
          th Data Type
          th Expected Values
          th Description
          th
      tbody
        tr(x-ng-repeat="val in endpoint.expectedValues")
          td
            div(data-tribe-text, data-value="val.name")
          td
            div(data-tribe-text, data-value="val.type")
          td
            div(data-tribe-markdown, data-value="val.values")
          td
            div(data-tribe-markdown, data-value="val.description")
          td
            div(x-ng-click="removeExpectedValue(val);")
              i.fa.fa-trash-o
  .values
    h2 Response codes
      div(x-ng-click="addErrorCode();", app-endpoints-details-toc-anchor="Response codes")
        i.fa.fa-plus
    table(x-ng-if="endpoint.operation['x-tribestream-api-registry'] && endpoint.operation['x-tribestream-api-registry']['response-codes'] && endpoint.operation['x-tribestream-api-registry']['response-codes'].length")
      thead
        tr
          th HTTP Status
          th Error Code
          th Message
          th Description
          th
      tbody
        tr(x-ng-repeat="val in endpoint.operation['x-tribestream-api-registry']['response-codes'] | orderBy:'http_status'")
          td
            div(data-tribe-text, data-value="val.http_status")
          td
            div(data-tribe-text, data-value="val.error_code")
          td
            div(data-tribe-text, data-value="val.message")
          td
            div(data-tribe-markdown, data-value="val.description")
          td
            div(x-ng-click="removeErrorCode(val);")
              i.fa.fa-trash-o
  .resp-body
    h2 Response Body
    div(data-tribe-markdown, data-value="endpoint.respBody")
  .samples
    h2 Samples
    h3 Request Headers
    div(data-tribe-markdown, data-value="endpoint.samples.responseHeaders")
    h3 Response Parameters
    div(data-tribe-markdown, data-value="endpoint.samples.responseParameters")
    h3 Response Body
    div(data-tribe-markdown, data-value="exampleResponseXml")
    h3 Response Body Error
    div(data-tribe-markdown, data-value="errorResponseXml")
