div
  h1
    img(src="app/images/services-icon.png")
    span Services found
    span ({{total}})
  i(data-app-endpoints-query-input)
  i(data-app-endpoints-header-create-btn, data-endpoints="endpoints")
