div
  .title
    h1
      div(data-tribe-singleselect, data-get-option-text="toUppercase", data-available-options="[{text:'DELETE', value:'delete'}, {text:'HEAD', value:'head'}, {text:'GET', value:'get'}, {text:'OPTIONS', value:'options'}, {text:'POST', value:'post'}, {text:'PUT', value:'put'}, {text:'PATCH', value:'patch'}]", data-selected-option="endpoint.httpMethod")
      i(data-tribe-editable-text, data-empty-text="Path", data-value="endpoint.path")
  h2 Summary
  i(data-tribe-editable-block, data-empty-text="No description", data-content="endpoint.operation.summary")
  h2 Description
  div(data-tribe-editable-md, data-empty-text="No description", data-content="endpoint.operation.description")
  div(data-app-endpoints-details-see, data-endpoint="endpoint")
  .resourceUrl(x-ng-if="resourceUrl")
    h2(app-endpoints-details-toc-anchor="Resource URL") Resource URL
    div
      i(data-tribe-editable-option, data-value="endpointProtocol", data-options="['http', 'https']")
      span ://
      a(x-ng-href="{{endpointProtocol + '://' + resourceUrl}}") {{resourceUrl}}


