div
  div(x-ng-repeat="msg in messages")
    div
      div(x-ng-class="{'app-message-error': msg.msgType == 'error', 'app-message-warning': msg.msgType == 'warn'}")
        i.fa.fa-times-circle-o(x-ng-show="msg.msgType == 'error'")
        i.fa.fa-exclamation-triangle(x-ng-show="msg.msgType == 'warn'")
        i.fa.fa-check-square-o(x-ng-show="msg.msgType == 'info'")
      h1(x-ng-show="msg.msgType == 'error'") warning
      h1(x-ng-show="msg.msgType == 'warn'") caution
      h1(x-ng-show="msg.msgType == 'info'") successful
      p {{msg.msgText}}
    i.fa.fa-times-circle-o(app-closable-message, message="msg")
