div
  .button-face
    div
      a(x-ng-href="application") 
        span Create Application
  .button-face
    div
      span Create Endpoint
    div.trigger
      i.fa.fa-caret-down
  .button-applications.floating-menu
    ul
      li(x-ng-repeat="app in applications | orderBy:'text'")
        a(x-ng-href="endpoint/{{app.applicationName}}") {{app.name}}
