header
  a(href=".")
    div.img(title="Tribestream API Registry")
  div
    span Tribestream API Registry
  div
    span(app-logged-in) {{user}}
    i(app-logout title="Sign out").fa.fa-sign-out.fa-lg