div
  div
    span See also
    div.add-link.tribe-add-btn
      i.fa.fa-plus
  ul
    li(x-ng-repeat="see in endpoint.operation['x-tribestream-api-registry'].sees | orderBy:['seeOrder', 'title']")
      a(ng-if="see.href && see.href.trim() !== ''", ng-href="{{see.href}}", target="_blank")
        i.fa.fa-link
      i(data-tribe-text, data-placeholder="enter link here", data-value="see.href")
      div(x-ng-click="removeLink(see);")
        i.fa.fa-trash
