div(ng-show="history")
  h2 History
  div
    div
      table
        thead
          tr
            th &nbsp;
            th Revision
            th Timestamp
            th Username
            th Comment
            th
        tbody
          tr(x-ng-repeat="historyItem in history")
            td
              input(type="checkbox", x-ng-change="onHistorySelect(historyItem)", x-ng-model="historyItem.$ui.selected")
            td
              span {{historyItem.revisionId}}
            td
              span {{historyItem.timestamp | date:'medium'}}
            td
              span {{historyItem.username}}
            td
              span {{historyItem.usercomment}}
            td
              i.fa.fa-edit(x-ng-click="showHistoricEndpoint(historyItem)")
    div(data-tribe-diff, x-ng-show="showDiff && selected.length == 2", data-value-a="valueA", data-value-b="valueB")
  button.orange(x-ng-click="closeHistory()") Close
  button(x-ng-click="doDiff()", x-ng-show="showDiff") Hide Diff
  button(x-ng-click="doDiff()", x-ng-show="!showDiff") Show Diff
  button(x-ng-click="saveMerge()", x-ng-show="showDiff") Save left pane as endpoint
