div
  div
    div
      i.fa.fa-file-text
      a(x-ng-href="application")
        span Create Application
  .create-endpoint-btn
    div
      i.fa.fa-plus-square
      span Create Endpoint
      i.fa.fa-caret-down
    .button-applications
      ul
        li(x-ng-repeat="app in applications | orderBy:'text'")
          a(x-ng-href="endpoint/{{app.applicationName}}") {{app.name}}
