div
  div
    .header
      .breadcrumb
        a(href=".")
          i.fa.fa-home
        i.fa.fa-chevron-right
        a(x-ng-href="application/{{applicationName}}?version={{swagger.info.version}}") {{swagger.info.title}} {{swagger.info.version}}
      .buttons
        .save(x-ng-if="applicationLink" x-ng-click="save()")
          i.fa.fa-floppy-o
          span Save
        .create-application(x-ng-if="applicationsLink" x-ng-click="create()")
          i.fa.fa-plus
          span Create Application
        .create-endpoint
          i.fa.fa-plus
          a(x-ng-href="endpoint/{{humanReadableName}}")
            span Create Endpoint
        .history(x-ng-if="historyLink" x-ng-click="showHistory()")
          i.fa.fa-history
          span Show History
        .delete(data-tribe-confirm-btn, data-callback="delete", data-icon="trash", data-message="Are you sure you want to delete this application?", x-ng-if="applicationLink", data-label="Delete Application")
    article.content
      div
        h1
          div(data-tribe-text, data-value="swagger.info.title", data-placeholder="Application Name")
          div(data-tribe-text, data-value="swagger.info.version", data-placeholder="Version")
        div(data-tribe-markdown, data-value="swagger.info.description")
        .see(x-ng-if="details.sees.length")
          span See:
          div
            p(x-ng-repeat="see in details.sees | orderBy:['seeOrder', 'title']")
              a(x-ng-if="see.href",  x-ng-href="{{see.href}}", x-ng-bind-html="(see.title | tribeHtml) || (see.href | tribeHtml)")
              a(x-ng-if="!see.href", x-ng-href="see/{{ see.aggregatedId }}", x-ng-bind-html="(see.title | tribeHtml) || (see.href | tribeHtml)")
      div
        h2 Resource Information
        div
          h3 Endpoints
          ul.endpoint-info
            li(x-ng-repeat="endpoint in endpoints")
              a(x-ng-href="endpoint/{{applicationName}}/{{endpoint.operation}}/{{endpoint.humanReadablePath}}?version={{swagger.info.version}}")
                span {{endpoint.operation | pathencode}}
                span {{endpoint.path | pathencode}}
                span {{endpoint.summary}}
      div(data-app-application-details-history)
  div(data-app-footer)
