div
  .resp-body
    h2 #[span Request Body]
    div(data-tribe-editable-md, data-content="endpoint.respBody")
  .expected
    h2
      span Expected values
      div(x-ng-click="addExpectedValue();")
        i.fa.fa-plus
    table(x-ng-if="endpoint.expectedValues && endpoint.expectedValues.length")
      thead
        tr
          th Attribute
          th Expected Values
          th
      tbody
        tr(x-ng-repeat="val in endpoint.expectedValues")
          td
            i(data-tribe-editable-text, data-adjust="false", data-value="val.name")
          td
            i(data-tribe-editable-block, data-content="val.values")
          td
            div(x-ng-click="removeExpectedValue(val);")
              i.fa.fa-trash-o
  .values
    h2
      span Response codes
      div(x-ng-click="addErrorCode();", app-endpoints-details-toc-anchor="Response codes")
        i.fa.fa-plus
    table(x-ng-if="endpoint.errors && endpoint.errors.length")
      thead
        tr
          th HTTP Status
          th Error Code
          th Message
          th Description
          th
      tbody
        tr(x-ng-repeat="val in endpoint.errors | orderBy:'statusCode'")
          td
            i(data-tribe-editable-number, data-adjust="false", data-value="val.statusCode")
          td
            i(data-tribe-editable-number, data-adjust="false", data-value="val.errorCode")
          td
            i(data-tribe-editable-block, data-content="val.message")
          td
            i(data-tribe-editable-block, data-content="val.description")
          td
            div(x-ng-click="removeErrorCode(val);")
              i.fa.fa-trash-o
  .samples
    h2 #[span Response Body]
    div(data-tribe-editable-md, data-content="endpoint.samples.responseBody")
