div
  div(data-app-endpoints-header, data-endpoints="endpoints", data-total="total")
  div.body
    div.list
      div
      div(data-app-endpoints-list, data-endpoints="endpoints", data-total="total")
    div.filters
      div(data-app-endpoints-selected-filter)
      div(data-app-endpoints-filter, data-title="Applications", data-list="applications", data-qfield="a")
      div(data-app-endpoints-filter, data-title="Categories", data-list="categories", data-qfield="c")
      div(data-app-endpoints-filter, data-title="Tags", data-list="tags", data-qfield="t")
      div(data-app-endpoints-filter, data-title="Roles", data-list="roles", data-qfield="r")
  div(data-app-footer)