div
  .selected
    div
      div
        i.fa.fa-caret-up
        i.fa.fa-caret-down
    div
      div
        .opt(x-ng-repeat="opt in selectedOptions", x-ng-click="unselectItem(opt)")
          span.opt {{opt}}
          i.fa.fa-times-circle
        input(type="text", x-ng-keyup="textEntered($event);", x-ng-model="filterText")
        span.text {{filterText}}
        span.empty not selected yet
  .available
    div
      .empty(x-ng-show="!filteredAvailable.length")
        span Empty
      .opt(x-ng-repeat="opt in availableOptions | orderBy:'toString()' | filter:filterText as filteredAvailable", x-ng-click="selectItem(opt)", x-ng-show="filteredAvailable.length")
        div
          span.opt {{opt}}
