div(tabindex=0, x-ng-click="open()")
  .value
    span(ng-show="valueText && valueText.trim() !== ''") {{valueText}}
    span.empty(ng-show="!valueText || valueText.trim() === ''") {{emptyText}}
    div
      i.fa.fa-caret-up
      i.fa.fa-caret-down
  .options.floating-menu
    div(x-ng-repeat="opt in options", x-ng-click="selectOption(opt)", tabindex=0)
      span {{opt.text ? opt.text : opt}}
