div
  .items(x-ng-repeat="opt in selectedOptions", ng-class="{selected: opt === selectedItem}")
    div
      span.opt {{opt}}
      i.fa.fa-times(x-ng-click="releaseItem(opt)")
  .text
    input(type="text", x-ng-keyup="keyEntered($event);", x-ng-model="inputText")
