div(tabindex=0)
    .value
        textarea(ng-model="value")
    .preview(x-ng-bind-html="preview | tribeHtml")
    div(data-tribe-field-actions,
        data-version="version",
        data-active="fieldDirty",
        data-on-confirm="onCommit()",
        data-on-cancel="onCancel()")
