div(tabindex=0)
  span(x-ng-if="!value || value.trim() === ''").empty {{emptyText}}
  span(x-ng-if="value && value.trim() !== ''") {{value}}
  input(type="{{type}}", x-ng-model="value")
  div
    i.fa.fa-pencil