.tribe-data-tribe-multiselect-available-body.floating-menu
    div
        .option(x-ng-repeat="opt in availableOptions",
                x-ng-click="selectItem(opt)"
                x-ng-class="{selected: opt === selectedItem}")
            span {{opt}}
    div(x-ng-if="!selectedItem")
        span(x-ng-if="newLabel") {{newLabel}}:
        span(x-ng-if="!newLabel") New:
        span {{inputText}}