div
  .text
    input(type="text", x-ng-keyup="keyEntered($event);", x-ng-model="inputText")
    span {{inputText}}
    span.empty(x-ng-if="!inputText") {{placeholder !== null &&  placeholder !== undefined ? placeholder : ''}}
    span.empty.mandatory(x-ng-if="!inputText && mandatory") mandatory
  .edit-icon
    i.fa.fa-pencil