.components
    div(data-tribe-multiselect,
        data-selected-options="['aaa', 'bbb', 'ccc', 'ddd', 'eee']",
        data-available-options="['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'eeeee', 'fff', 'ggg', 'hhh']")